.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
gui-test-screenshots
docs
.DS_Store
npm-debug.log
.phpunit.result.cache
